<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('reultilizando/head.ejs'); %>
        <%- include('reultilizando/cookies.ejs'); %>
</head>

<body class="container">
    <header>
        <%- include('reultilizando/header.ejs'); %>
    </header>

    <div id="corpo">
        <div class="container">

            <h2>Faremos comparativos aqui</h2>

        </div>
    </div>
</body>


<footer>
    <%- include('reultilizando/footer.ejs'); %>
</footer>

</html>