<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Qual máquina de cartão tem as menores taxas? Descubra aqui com apenas um clique e ainda compre seu máquina de cartão com um super desconto">
<title>Calculadora de Taxas - Descubra qual máquina de cartão tem as menores taxas</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/estilo.css">