<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/img/logomarca.png" alt="200">

        <ul id="menulink">
            <a href="/" class="btn btn-primary" role="button" aria-pressed="true" id="teste">Home</a> |
            <a href="comparativo" class="btn btn-primary" role="button" aria-pressed="true">comparativo</a> |
            <a href="contato" class="btn btn-primary" role="button" aria-pressed="true">Contato</a> |
            <a href="https://sumup.com.br" class="btn btn-primary" role="button" aria-pressed="true">SumUp</a>
        </ul>


</nav>
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.gif" alt="200" width="350" height="70" class="d-inlne-block align-top">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto text-center">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link active" aria-current="page" href="comparativo">Comparativo</a>
                    <a class="nav-link active" aria-current="page" href="contato">Contato</a>
                    <a class="nav-link active" aria-current="page" href="sobre">Sobre</a>

                </div>
            </div>
    </div>
</nav>